body, html{
    font-size:100%;
    min-height:100vh;
}

body{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    border:3px solid red;
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

.banner-container, .information-container, .quotebox-container, .account-container, .footer{
    display:flex;
    flex:1;
    border: 3px dotted red;
}



/* HEADER STYLING */

.header{
    display:flex;
    background-color: #1F2937;
    color:white;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header-left, .header-right{
    display:flex;
}

.header-left{
    flex:2;
    justify-content: center;
}

.header-right{
    flex:1;
    justify-content: space-between;
    margin-right:20px;
}

.header-link{
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
}


/* BANNER STYLING */

